*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f6f6f6;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.app{
text-align:center;
}

h1{
font-size:42px;
margin-bottom:8px;
}

.tagline{
color:#777;
margin-bottom:40px;
}

.password-box{
display:flex;
align-items:center;
background:white;
padding:14px 16px;
border-radius:8px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
width:360px;
margin-bottom:20px;
}

.password-box input{
border:none;
outline:none;
flex:1;
font-size:16px;
background:transparent;
}

.password-box img{
width:20px;
cursor:pointer;
opacity:0.6;
}

.password-box img:hover{
opacity:1;
}

button{
display:flex;
align-items:center;
justify-content:center;
gap:10px;
background:black;
color:white;
border:none;
padding:14px;
border-radius:8px;
width:360px;
font-size:16px;
cursor:pointer;
transition:0.2s;
transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button img{
width:18px;
}

button:hover{
background:#222;
transform: translateY(-4px) scale(1.03);
box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}

#copyIcon{
    width: 10%;
    height: 10%;
    background-color: white;
    
}

#copyIcon:hover{
    background-color: rgb(206, 240, 206);
}

#toast{
position: fixed;
bottom: 30px;
left: 50%;
transform: translateX(-50%);
background: #111;
color: white;
padding: 12px 20px;
border-radius: 8px;
font-size: 14px;
opacity: 0;
pointer-events: none;
transition: opacity 0.3s ease, transform 0.3s ease;
}

#toast.show{
opacity: 1;
transform: translateX(-50%) translateY(-10px);
}
